@using PizzaBox.Storing.Repositories;
@using PizzaBox.Domain.Models;
@{
    ViewData["Title"] = "ViewStoreOrders";
    int id = Convert.ToInt32(ViewData["storeId"]);
    RepositoryStoreInfo repositoryStoreInfo = new RepositoryStoreInfo();
    RepositoryStoreOrdersInfo repositoryStoreOrdersInfo = new RepositoryStoreOrdersInfo();
    RepositoryOrdersUserInfo repositoryOrdersUserInfo = new RepositoryOrdersUserInfo();
    RepositoryOrdersPizzaInfo repositoryOrdersPizzaInfo = new RepositoryOrdersPizzaInfo();
}

<h1>View Store Orders</h1>
@{

    var stores = repositoryStoreInfo.GetItems().ToList();

    <h3>@repositoryStoreInfo.GetStoreName(id)</h3>

    var storeOrders = repositoryStoreOrdersInfo.GetStoreOrders(id).ToList();
    foreach (StoreOrdersInfo st in storeOrders)
    {
        OrdersUserInfo or = repositoryOrdersUserInfo.GetStoreOrderDetails(st.OrderId);
        <p>_____________________________</p>
        <p>OrderId: @or.OrderId</p>
        <p>Customer: @or.Email</p>
        <p>@or.OrderDateTime</p>
        
        var pizzasInfo = repositoryOrdersPizzaInfo.GetOrdersPizzas(or.OrderId).ToList();

        foreach (OrdersPizzaInfo op in pizzasInfo)
        {
            <p>Pizza number: @op.PizzaId</p>
        }

    }
}
