@inject PizzaBox.Domain.Interfaces.IStoreInfo repositoryStoreInfo
@inject PizzaBox.Domain.Interfaces.IStoreOrdersInfo repositoryStoreOrdersInfo
@inject PizzaBox.Domain.Interfaces.IOrdersUserInfo repositoryOrdersUserInfo
@inject PizzaBox.Domain.Interfaces.IOrdersPizzaInfo repositoryOrdersPizzaInfo


@{
    ViewData["Title"] = "ViewStoreOrders";
    int id = Convert.ToInt32(ViewData["storeId"]);

}

<h1>View Store Orders</h1>
@{

    var stores = repositoryStoreInfo.GetItems().ToList();

    <h3>@repositoryStoreInfo.GetStoreName(id)</h3>

    var storeOrders = repositoryStoreOrdersInfo.GetStoreOrders(id).ToList();
    foreach (var st in storeOrders)
    {
        var or = repositoryOrdersUserInfo.GetStoreOrderDetails(st.OrderId);
        <hr />
        <p>OrderId: @or.OrderId</p>
        <p>Customer: @or.Email</p>
        <p>@or.OrderDateTime</p>

        var pizzasInfo = repositoryOrdersPizzaInfo.GetOrdersPizzas(or.OrderId).ToList();

        foreach (var op in pizzasInfo)
        {
            <p>Pizza number: @op.PizzaId</p>
        }

    }
    <a asp-action="Index" asp-controller="Store">Back to Store Manager Menu</a>
}
