@model PizzaBoxWebApp.Models.StoreInfoViewModel;
@inject PizzaBox.Domain.Interfaces.IStoreInfo repositoryStoreInfo
@{
    ViewData["Title"] = "PlaceOrder";
   


}
@{ 
    if (repositoryStoreInfo.GetNumItems() == 0)
    {
        <h1>There are no stores in existance</h1>
    }
    else
    {

        var stores = repositoryStoreInfo.GetItems().ToList();
        <h2>Select a store by Id</h2>
        <form asp-action="PlaceOrder" asp-controller="SignedIn">
            @foreach(var s in stores)
            {
                @Html.RadioButtonFor(e => e.StoreId, s.StoreId)<text>StoreId: @s.StoreId @s.StoreName @s.City @s.State @s.ZipCode </text><br />
            }
            <input type="submit" value="submit"/>
        </form>
    }
}


