@inject PizzaBox.Domain.Interfaces.IOrdersUserInfo repositoryOrdersUserInfo
@inject PizzaBox.Domain.Interfaces.IOrdersPizzaInfo repositoryOrdersPizzaInfo
@inject PizzaBox.Domain.Interfaces.IPizzas repositoryPizzas
@inject PizzaBox.Domain.Interfaces.IStoreOrdersInfo repositoryStoreOrdersInfo
@inject PizzaBox.Domain.Interfaces.IStoreInfo repositoryStoreInfo

@{
    ViewData["Title"] = "PurchaseHistory";
    string email = TempData["userEmail"] as string;
    string password = TempData["userPassword"] as string;
    TempData.Keep();

}

<h1>Purchase History of @email </h1>
@{
    var userOrders = repositoryOrdersUserInfo.GetUserPurchases(email).ToList();
    if (userOrders.Count() == 0)
    {
        <p>You have not made any others yet</p>
    }
    else
    {
        foreach (var temp in userOrders)
        {
            decimal price = 0M;
            <p>Order Id: @temp.OrderId</p>

            <p>@temp.OrderDateTime</p>


            var usersOrdersPizzas = repositoryOrdersPizzaInfo.GetOrdersPizzas(temp.OrderId).ToList();
            foreach (var of in usersOrdersPizzas)
            {
                var pi = repositoryPizzas.GetPizzasbyId(of.PizzaId);

                <p>Size: @pi.Size</p>

                <p>Crust: @pi.Crust</p>

                <p>Crust Flavor: @pi.CrustFlavor</p>

                <p>Sauce: @pi.Sauce</p>

                <p>Sauce Amount: @pi.SauceAmount</p>

                <p>Cheese Amount: @pi.CheeseAmount</p>


                if (pi.Topping1 != null)
                {
                    <p>Toppin1: @pi.Topping1</p>

                }
                if (pi.Topping2 != null)
                {
                    <p>Toppin2: @pi.Topping2</p>

                }
                if (pi.Topping3 != null)
                {
                    <p>Toppin3: @pi.Topping3</p>

                }
                <p>Price: @pi.Price</p>
                <br />

                price += pi.Price;

            }
            int storeId = repositoryStoreOrdersInfo.GetStoreId(temp.OrderId);
            string storename = repositoryStoreInfo.GetStoreName(storeId);
            <p>Store: @storename</p>
            <p>Total: @price</p>
            <hr />

        }
    }
    <a asp-action="Index" asp-controller="SignedIn">Back to User Menu</a>
}

